@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --grisOscuro: #666;
  --grisClaro: #ebebeb;
  --verde: #39b54a;
  --roboto: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
}
header {
  background-color: var(--amarillo);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-barras {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3rem 2rem 3rem;
}

.barra-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.barra-busqueda {
  flex: 1;
  text-align: center;
}

.barra-busqueda input {
  width: 50%;
  padding: 5px;
}

.barra-bottom {
  display: flex;
  flex-wrap: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;

}

.links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

body {
  font-family: var(--roboto);
  font-size: 12px;
}

main {
  width: 100%;
  margin: 0 auto;
}

.contenedor-articulos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.flex-contenedor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.flex-contenedor h4 {
  font-size: 15px;
  font-weight: 500;
}

.camion {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  transition: transform 0.3s;
}

.camion:hover {
  transform: rotate(90deg);
} 

.banner {
  width: 100%;
  height: fit-content;
  margin: 0;
}
.titulares {
  font-size: 24px;
  margin: 1rem 2rem;
}

.precios {
  font-size: 18px;
}

.articulo {
  margin-bottom: 10px;
  width: 15rem;
  height: 18rem;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  margin: 10px;
  opacity: 1;
  transition: opacity 1s;
}

.articulo:hover {
  opacity: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.articulo .descripcion {
  display: none; 
}

.articulo:hover .descripcion {
  display: block; 
}

.articulo img {
  width: 12rem;
  height: 12rem;
}

.articulo-box {
  border-top: 1px solid #ebebeb;
  padding: 15px;
  position: relative;
}

.boton-envio {
  background-color: #0077FF; 
  color: #FFFFFF; 
  padding: 10px 20px; 
  transition: background-color 0.3s;
}

.boton-envio:hover {
  background-color: #0022AA; 
}

footer {
  text-align: center;
  padding: 2rem 0;
  color: #333; 
  background-color: #fff; 
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-margin {
  margin-bottom: 10px;
}

.descripcion {
  font-size: 16px;
}

.descuento {
  font-size: 16px;
}
.logo {
  width: 16rem;
  height: 13rem;
  flex: 1;
  text-align: center;
}
.logo img {
  width: 50%;
  height: auto;
}
.menu {
  display: none;
}

form{
  background-color: white; 
  border: 1px solid var(--grisOscuro); /* Borde gris oscuro */
  padding: 20px;
  font-family: var(--roboto);
}

form input[type="text"],
form textarea {
  background-color: var(--grisClaro);
  border: 1px solid var(--grisOscuro);
  color: var(--grisOscuro); 
  padding: 10px;
  font-family: var(--roboto); 
}

form input[type="submit"],
form button {
  background-color: var(--azul); 
  color: #fff; 
  border: none;
  padding: 12px 20px;
  cursor: pointer; 
  font-family: var(--roboto); 
}

form input[type="submit"]:hover,
form button:hover {
  background-color: var(--amarillo); /* Cambia el color al pasar el mouse por encima al amarillo */
}

@media (max-width: 767px) {
  .menu {
    background-color: var(--azul);
    width: 2rem;
    height: 2rem;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .articulo {
    box-shadow: none;
  }

  .descripcion {
    display: none;
  }

  .links {
    display: none;
  }
}
